  #login-container {
    min-height: 300px;
    height: auto;
    min-width: 380px;
    width: auto;
    background-color: white;
    margin: auto;
    margin-top: 40px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  form {
    margin: auto;
    width: 70%;
    height: auto  ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }
  h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  label {
    margin-bottom: 1rem;
  }
  #input-panel {
    display: flex;
    flex-direction: column;
  }
  .forgot-password {
    margin-left: auto;
  }
  #input-panel a,
  #button-panel a {
    font-size: small;
    color: #6d6b6b;
  }
  #button-panel {
    display: flex;
    flex-direction: column;
  }
  #remember-me {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-height: 2.5rem;
    gap: 10px;
  }
  #remember-me__label {
    font-size: small;
    padding-top: 12px;
  }
  #password,
  #user-name,
  #login,
  #register {
    height: 2rem;
  }
  #login,
  #register {
    border-radius: 15px;
  }
  #password,
  #user-name {
    border: none;
    border-bottom: 2px solid #ccc9c9;
  }
  #no-account {
    text-align: center;
    font-size: small;
    margin-top: 10px;
    height: 0.5rem;
  }
  #register__label {
    text-align: center;
  }
