.login-container {
  padding: 20px;
  height: 480px;
  width: 450px;
  background-color: white;
  margin: auto;
  margin-top: 15px;
  border-radius: 30px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
article{
  width: 70%;
}
article h1 {
  text-align: center;
  font-weight: 500;
  font-size: 20pt;
  text-shadow: 3px 3px 3px rgba(172, 167, 167, 0.5);
}
.login {
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.login h1 {
  margin-bottom: 50px;
  text-shadow: 4px 4px 4px rgba(134, 129, 129, 0.5);
}
.login label {
  text-align: center;
  font-weight: 500;
}
.hir {
  margin-bottom: 30px;
}
#neme,#l1,#l2,#l3,#l4,#l5 {
  font-weight: 500;
}
#neme {
  margin-right: 10px;
}
#Knev,#Vnev,#email {
  background-color: rgb(250, 227, 199);
  height: 25px;
  border: solid 1.5px #c0bebb;
  border-radius: 6pt;
  float: right;
}
.igazit {
  text-align: center;
}
.igazit input {
  height: 25px;
  width: 150px;
  background-color: rgb(250, 227, 199);
  color: rgba(0, 0, 0, 0.795);
  margin-top: 70px;
  height: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12pt;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  border-radius: 6pt;
}
#jelszo,#felhasz,#kuld,#reg {
  background-color: rgb(250, 227, 199);
  height: 25px;
  border: solid 1.5px #c0bebb;
  border-radius: 6pt;
}
#jelszo:focus,#felhasz:focus {
  box-shadow: 2px 2px 1px silver;
  transition: 1.5s;
  background-color: rgb(250, 228, 188);
  border: none;
  transform: scale(1.04);
}
#kuld {
  background-color: rgb(250, 227, 199);
  color: rgba(0, 0, 0, 0.795);
  margin-top: 130px;
  height: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12pt;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
}
#kuld:hover {
  background-color: #cfafc2;
  transition: 1.5s;
  transform: scale(1.08);
}
#reg {
  background-color: rgb(250, 227, 199);
  margin-top: 15px;
  height: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11pt;
  color: gray;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
}
#reg:hover {
  background-color: #cfafc2;
  transition: 1.5s;
  transform: scale(1.06);
}
@media only screen and (max-width: 700px) {
  .login-container {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: white;
    margin: auto;
    margin-top: 15px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  #kuld{
    margin-top: 30px;
  }
  .login {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    
  }
  .login input{
    width: 150px;
  }
}
@media only screen and (max-width: 540px) {
  .login-container {
    
    text-align: center;
    width: 100%;
    background-color: white;
    margin: auto;
    margin-top: 15px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  #kuld{
    margin-top: 20px;
  }
  .login {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    
    
  }
  .login input{
    width: 100%;
  }
  
}